<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Сброс пароля</title>
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <script src="../../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <style>
    body {
      height: 100%;
    }

    .form-signin {
      max-width: 330px;
      padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
</head>
<body>
<br>
<h1 align="center">Сброс пароля</h1>
<div class="center">
  <br>
  <form th:action="@{'/passwordReset/' + ${encryptedLogin}}" method="post">
    <label for="newPassword1">Введите новый пароль: </label>
    <input type="password" class="form-control" style="max-width: 300px" id="newPassword1" name="newPassword1">
    <br>
    <label for="newPassword2">Повторите новый пароль: </label>
    <input type="password" class="form-control" style="max-width: 300px" id="newPassword2" name="newPassword2">
    <div style="color: red" th:if="${newPassError}" th:text="${newPassError}">WTF</div>
    <br><br>
    <button class="btn btn-primary w-100 py-2 bg-black" style="max-width: 200px" type="submit">Сохранить</button>
  </form>
</div>
</body>
</html>