<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои результаты</title>
</head>
<body>
<h1>Ваши результаты</h1>
    <div th:each="solution: ${solutions}">
      <br><br>
      <h2 th:text="${solution.getTest().getTitle()}"></h2>
      <p th:text="'Дата: ' + ${solution.getDateOfSolution()}"></p>
      <p th:text="'Количество правильных ответов: '+${solution.getCountOfRightAnswers()}+'/'+${solution.getCountOfQuestions()}"></p>
      <p th:text="'Оценка: ' + ${solution.getMark()}"></p>
    </div>
<br><br><br>
<a href="/tests">Вернуться</a>
</body>
</html>