<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои тесты</title>
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}">
    <script src="../../static/js/script.js" th:src="@{js/script.js}"></script>
</head>
<body>

<header>
    <div class="header">
        <div class="logo"><a href="http://localhost:8080/menu">Testing System</a></div>

        <div>
            <form class="search-form" th:action="@{/tests}">
                <input type="text" name="searchTitle" placeholder="Поиск">
                <button type="submit">Найти</button>
            </form>
        </div>

        <div class="menu-buttons">
            <div class="dropdown">

                <button>Тесты</button>
                <div class="dropdown-content">
                    <ul>
                        <li>
                            <div>
                                <form th:action="@{/tests}">
                                    <input class="menu-buttons" type="submit" value="Пройти тесты">
                                </form>
                            </div>
                            <br>
                        </li>
                        <li>
                            <div>
                                <form th:action="@{/statistic}">
                                    <input class="menu-buttons" type="submit" value="Мои результаты">
                                </form>
                            </div>
                            <br>
                        </li>
                        <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')">
                            <div>
                                <form th:action="@{/newTest}">
                                    <input class="menu-buttons" type="submit" value="Создать новый тест">
                                </form>
                            </div>
                            <br>
                        </li>
                        <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')">
                            <div>
                                <form th:action="@{/myTests}">
                                    <input class="menu-buttons" type="submit" value="Мои тесты">
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>

                <button>Профиль</button>
            </div>
        </div>

    </div>
</header>


<h1>Список ваших тестов</h1>
<br><br>
<div th:each="test: *{tests}">
    <div class="test-block">
        <h2 th:text="${test.getTitle()}"></h2>
        <p th:text="'Дата создания: ' + ${test.getDateOfCreation()}"></p>
        <p th:text="'Количество прохождений: ' + ${test.getCountOfSolutions()}"></p>
        <br>
        <form th:action="@{/myTests/{id}(id=${test.getId()})}">
            <input type="submit" value="Подробнее">
        </form>
    </div>
    <br><br>
</div>
</body>
</html>