<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание теста</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="../../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Testing System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                    aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
                 aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">12345</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/menu}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a sec:authorize="hasAuthority('ADMIN_ROLE')" class="nav-link" th:href="@{/users}">Пользователи</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Тесты
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/tests}">Решить тесты</a></li>
                                <li><a class="dropdown-item" th:href="@{/statistic}">Мои решения</a></li>
                                <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')">
                                    <hr class="dropdown-divider">
                                </li>
                                <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')"><a
                                        class="dropdown-item" th:href="@{/newTest}">Создать тест</a></li>
                                <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')"><a
                                        class="dropdown-item" th:href="@{/myTests}">Мои тесты</a></li>
                            </ul>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/profile}">Профиль</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</main>
<br>
<h1>Создание теста</h1>
<br>
<h2>Cоздайте вопросы: </h2>
<br>

<form th:action="@{/newTest}" method="post" th:object="${answersList}">

    <input type="hidden" th:field="*{answers[__${0}__].test.title}">
    <input type="hidden" th:field="*{answers[__${0}__].test.countOfQuestions}">
    <input type="hidden" th:field="*{answers[__${0}__].test.category}">
    <input type="hidden" th:field="*{answers[__${0}__].test.creator}">

    <div th:each="question, stat: *{answers}">

<!--        <input type="hidden" th:field="*{answers[__${stat.index}__].test}"/>-->
        <input type="hidden" th:field="*{answers[__${stat.index}__].numOfQuestion}"/>

        <hr>
        <div>
            <label th:text="'Введите текст вопроса №' + ${stat.index + 1} + ': '"></label>
            <input type="text" th:field="*{answers[__${stat.index}__].title}">
            <div style="color: red" th:if="${#fields.hasErrors('answers['+__${stat.index}__+'].title')}"
                 th:errors="*{answers[__${stat.index}__].title}"></div>
            <br><br>

            <div>
                <label>Введите варианты ответов: </label>
                <br><br>

                <label>Вариант 1: </label>
                <input type="text" th:field="*{answers[__${stat.index}__].firstAnswer}">
                <div style="color: red" th:if="${#fields.hasErrors('answers['+__${stat.index}__+'].firstAnswer')}"
                     th:errors="*{answers[__${stat.index}__].firstAnswer}"></div>
                <br>
                <label>Вариант 2: </label>
                <input type="text" th:field="*{answers[__${stat.index}__].secondAnswer}">
                <div style="color: red" th:if="${#fields.hasErrors('answers['+__${stat.index}__+'].secondAnswer')}"
                     th:errors="*{answers[__${stat.index}__].secondAnswer}"></div>
                <br>
                <label>Вариант 3: </label>
                <input type="text" th:field="*{answers[__${stat.index}__].thirdAnswer}">
                <div style="color: red" th:if="${#fields.hasErrors('answers['+__${stat.index}__+'].thirdAnswer')}"
                     th:errors="*{answers[__${stat.index}__].thirdAnswer}"></div>
                <br>
                <label>Вариант 4: </label>
                <input type="text" th:field="*{answers[__${stat.index}__].fourthAnswer}">
                <div style="color: red" th:if="${#fields.hasErrors('answers['+__${stat.index}__+'].fourthAnswer')}"
                     th:errors="*{answers[__${stat.index}__].fourthAnswer}"></div>

            </div>
            <br><br>
            <label for="rightAnswer">Выберите номер правильного ответа: </label>
            <select id="rightAnswer" name="rightAnswer" th:field="*{answers[__${stat.index}__].rightAnswer}">
                <option value="1">Вариант 1</option>
                <option value="2">Вариант 2</option>
                <option value="3">Вариант 3</option>
                <option value="4">Вариант 4</option>
            </select>

        </div>
        <br>

    </div>
    <button class="btn btn-primary w-100 py-2 bg-black" style="max-width: 200px;">Создать тест</button>
</form>
</body>
</html>