<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание теста</title>
</head>
<body>

<h1>Создание теста</h1>
<h2>Cоздайте вопросы: </h2>
<br>

<form th:action="@{/newTest}" method="post" th:object="${answersList}">

    <input type="hidden" th:field="*{answers[__${0}__].test.title}">
    <input type="hidden" th:field="*{answers[__${0}__].test.countOfQuestions}">
    <input type="hidden" th:field="*{answers[__${0}__].test.category}">
    <input type="hidden" th:field="*{answers[__${0}__].test.creator}">

    <div th:each="question, stat: *{answers}">

<!--        <input type="hidden" th:field="*{answers[__${stat.index}__].test}"/>-->
        <input type="hidden" th:field="*{answers[__${stat.index}__].numOfQuestion}"/>

        <hr>
        <div>
            <label th:text="'Введите текст вопроса №' + ${stat.index + 1} + ': '"></label>
            <input type="text" th:field="*{answers[__${stat.index}__].title}">
            <div style="color: red" th:if="${#fields.hasErrors('answers['+__${stat.index}__+'].title')}"
                 th:errors="*{answers[__${stat.index}__].title}"></div>
            <br><br>

            <div>
                <label>Введите варианты ответов: </label>
                <br><br>

                <label>Вариант 1: </label>
                <input type="text" th:field="*{answers[__${stat.index}__].firstAnswer}">
                <div style="color: red" th:if="${#fields.hasErrors('answers['+__${stat.index}__+'].firstAnswer')}"
                     th:errors="*{answers[__${stat.index}__].firstAnswer}"></div>
                <br>
                <label>Вариант 2: </label>
                <input type="text" th:field="*{answers[__${stat.index}__].secondAnswer}">
                <div style="color: red" th:if="${#fields.hasErrors('answers['+__${stat.index}__+'].secondAnswer')}"
                     th:errors="*{answers[__${stat.index}__].secondAnswer}"></div>
                <br>
                <label>Вариант 3: </label>
                <input type="text" th:field="*{answers[__${stat.index}__].thirdAnswer}">
                <div style="color: red" th:if="${#fields.hasErrors('answers['+__${stat.index}__+'].thirdAnswer')}"
                     th:errors="*{answers[__${stat.index}__].thirdAnswer}"></div>
                <br>
                <label>Вариант 4: </label>
                <input type="text" th:field="*{answers[__${stat.index}__].fourthAnswer}">
                <div style="color: red" th:if="${#fields.hasErrors('answers['+__${stat.index}__+'].fourthAnswer')}"
                     th:errors="*{answers[__${stat.index}__].fourthAnswer}"></div>

            </div>
            <br><br>
            <label for="rightAnswer">Выберите номер правильного ответа: </label>
            <select id="rightAnswer" name="rightAnswer" th:field="*{answers[__${stat.index}__].rightAnswer}">
                <option value="1">Вариант 1</option>
                <option value="2">Вариант 2</option>
                <option value="3">Вариант 3</option>
                <option value="4">Вариант 4</option>
            </select>

        </div>
        <br><br><br>

    </div>
    <input type="submit" value="Создать тест">
</form>
</body>
</html>