<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${test.getTitle()}"></title>
    <style>
        .test-block {
            background-color: #f3f3f3;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            width: 300px;
        }

        .test-block h2 {
            margin-top: 0;
        }

        .test-block p {
            margin: 0;
        }
    </style>
</head>

<body>
<div class="test-block">
    <h2 th:text="${test.getTitle()}"></h2>
    <p th:text="'Категория: ' + ${test.getCategory.getTitle()}"></p>
    <p th:text="'Количество вопросов: ' + ${test.getCount_of_questions}"></p>
</div>
<hr>
<br><br><br>

<form th:action="@{/tests}" method="post" th:object="${questions}">

    <div th:each="question: ${questions}">
        <div>
            <h3 th:text="${question.getNumOfQuestion()} + '. ' + ${question.getTitle()}"></h3>
            <br>
            <input type="radio" id="'answers1' + ${question.getId()}" th:name="question + ${question.getId()}" th:value="1"/>
            <label th:for="'answers1' + ${question.getId()}" th:text="${question.getFirstAnswer()}"></label>
            <br>

            <input type="radio" id="'answers2' + ${question.getId()}" th:name="question + ${question.getId()}" th:value="2"/>
            <label for="'answers2' + ${question.getId()}" th:text="${question.getSecondAnswer()}"></label>
            <br>

            <input type="radio" id="'answers3' + ${question.getId()}" th:value="3"/>
            <label for="'answers3' + ${question.getId()}" th:text="${question.getThirdAnswer()}"></label>
            <br>

            <input type="radio" id="'answers4' + ${question.getId()}" th:name="question + ${question.getId()}" th:value="4"/>
            <label for="'answers4' + ${question.getId()}" th:text="${question.getFourthAnswer()}"></label>
            <br>


        </div>
        <br><br><br>
    </div>
    <input type="submit" value="Завершить">
</form>

</body>
</html>