<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${answersList.getAnswers().get(0).getTest().getTitle()}"></title>
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script src="../../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>

<main>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">Testing System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
              aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
           aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">12345</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/menu}">Главная</a>
            </li>
            <li class="nav-item">
              <a sec:authorize="hasAuthority('ADMIN_ROLE')" class="nav-link" th:href="@{/users}">Пользователи</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Тесты
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/tests}">Решить тесты</a></li>
                <li><a class="dropdown-item" th:href="@{/statistic}">Мои решения</a></li>
                <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')">
                  <hr class="dropdown-divider">
                </li>
                <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')"><a class="dropdown-item" th:href="@{/newTest}">Создать тест</a></li>
                <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')"><a class="dropdown-item" th:href="@{/myTests}">Мои тесты</a></li>
              </ul>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/profile}">Профиль</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</main>
<br><br>
<div class="test-block">
  <h2 th:text="' '+${answersList.getAnswers().get(0).getTest().getTitle()}"></h2>
  <br>
  <p th:text="'&nbsp;Категория: ' + ${answersList.getAnswers().get(0).getTest().getCategory().value}"></p>
  <p th:text="'&nbsp;Количество вопросов: ' + ${answersList.getAnswers().get(0).getTest().getCountOfQuestions}"></p>
  <p th:text="'&nbsp;Автор: ' + ${answersList.getAnswers().get(0).getTest().creator.getFirst_name()} + ' ' + ${answersList.getAnswers().get(0).getTest().creator.getLast_name()}"></p>
  <p th:text="'&nbsp;Дата создания: ' + ${answersList.getAnswers().get(0).getTest().getDateOfCreation()}"></p>
</div>
<hr>
<br><br>

<form th:action="@{/tests}" method="post" th:object="${answersList}">

  <input type="hidden" th:field="*{answers[__${0}__].test}" />

  <div th:each="question, stat: *{answers}">
    <div style="background-color: #f1f1f1; padding: 20px;">

      <h3 th:text="${question.getNumOfQuestion()} + '. ' + ${question.getTitle()}"></h3>

      <br>
      <input type="radio" th:field="*{answers[__${stat.index}__].choiceAnswer}" th:value="1"/>
      <label th:text="${question.getFirstAnswer()}"></label>
      <br>

      <input type="radio" th:field="*{answers[__${stat.index}__].choiceAnswer}" th:value="2"/>
      <label th:text="${question.getSecondAnswer()}"></label>
      <br>

      <input type="radio" th:field="*{answers[__${stat.index}__].choiceAnswer}" th:value="3"/>
      <label th:text="${question.getThirdAnswer()}"></label>
      <br>

      <input type="radio" th:field="*{answers[__${stat.index}__].choiceAnswer}" th:value="4"/>
      <label th:text="${question.getFourthAnswer()}"></label>
      <br>

      <input type="hidden" th:field="*{answers[__${stat.index}__].rightAnswer}" />

    </div>
    <br><br>
  </div>
  &nbsp;
  <button class="btn btn-primary w-100 py-2 bg-black" style="max-width: 200px;">Завершить</button>
  <label></label>
</form>

</body>
</html>