<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="../../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>

<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Testing System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                    aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
                 aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">12345</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/menu}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a sec:authorize="hasAuthority('ADMIN_ROLE')" class="nav-link" th:href="@{/users}">Пользователи</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Тесты
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/tests}">Решить тесты</a></li>
                                <li><a class="dropdown-item" th:href="@{/statistic}">Мои решения</a></li>
                                <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')">
                                    <hr class="dropdown-divider">
                                </li>
                                <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')"><a
                                        class="dropdown-item" th:href="@{/newTest}">Создать тест</a></li>
                                <li sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')"><a
                                        class="dropdown-item" th:href="@{/myTests}">Мои тесты</a></li>
                            </ul>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/profile}">Профиль</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</main>
<br>


<h1>Профиль</h1>
<br><br>
<p th:text="'&nbsp;ID: ' + ${user.getId()}"></p>
<p th:text="'&nbsp;Имя: ' + ${user.getFirst_name()}"></p>
<p th:text="'&nbsp;Фамилия: ' + ${user.getLast_name()}"></p>
<p th:text="'&nbsp;Логин: ' + ${user.getLogin()}"></p>
<p th:text="'&nbsp;Почта: ' + ${user.getEmail()}"></p>
<p th:text="'&nbsp;Дата рождения: ' + ${user.getDate_of_birth()}"></p>
<p th:text="'&nbsp;Статус: ' + ${user.getRole().value}"></p>
<p th:text="'&nbsp;Дата регистрации: ' + ${user.getDate_of_registration()}"></p>
<p>
    <a th:text="'&nbsp;Количество решений тестов: ' + ${countOfSolutions}" th:href="@{/statistic}"></a>
</p>
<span sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')">
    <a th:text="'&nbsp;Количество созданных тестов:' + ${countOfCreatedTests}" th:href="@{/myTests}"></a>
</span>
<br><br>
<span sec:authorize="hasAuthority('TEACHER_ROLE') or hasAuthority('ADMIN_ROLE')">
    <form th:action="@{/updateProfile/{id}(id=${user.getId()})}" method="post" th:object="${user}">
            <input type="hidden" th:field="*{first_name}">
            <input type="hidden" th:field="*{last_name}">
            <input type="hidden" th:field="*{login}">
            <input type="hidden" th:field="*{email}">
            <input type="hidden" th:field="*{role}">
            <input type="hidden" th:field="*{date_of_birth}">
            <input type="hidden" th:field="*{password}">
        &nbsp;
        <input id="send" type="checkbox" th:checked="*{doSend}" th:field="*{doSend}">
            <label th:for="send">Отправлять результаты прохождения тестов на почту</label>
        &nbsp;
            <button class="btn btn-primary w-100 py-2 bg-black" style="max-width: 100px;">Сохранить</button>
    </form>
</span>
<br><br>
<form th:action="@{/logout}" method="post">
    &nbsp;<button class="btn btn-primary w-100 py-2 bg-black" style="max-width: 300px;">Выйти</button>
</form>
</body>
</html>