<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Вход</title>
</head>
<body>
<h1>Вход</h1>
<br><br>
<div th:if="${param.error}">
    Неверные логин или пароль.</div>
<div th:if="${param.logout}">
    Выход из аккаунта.</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Логин"/>
    </div>
    <br>
    <div>
        <input type="password" name="password" placeholder="Пароль"/>
    </div>
    <br><br>
    <input type="submit" value="Войти" />
</form>

<br><br>
<a href="/registration">Регистрация</a>
</body>
</html>